<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.biubiubiu.rms"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
        >
        <activity android:name="MainActivity"   
            android:theme="@style/Theme.Light.NoTitleBar.PageIndicatorDefaults"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ImportActivity"   
            android:theme="@style/Theme.Light.NoTitleBar.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden" 
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="DetailActivity"   
            android:theme="@style/Theme.Light.NoTitleBar.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden" 
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="EditActivity"   
            android:theme="@style/Theme.Light.NoTitleBar.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden" 
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
